{% extends "::base.html.twig" %}

{% block title %}Changelog{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Changelog</td>
        </tr>
        </thead>
        <tbody>
        {% for commit in changelog %}
            <tr>
                <td>{{ commit }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
